:host{
    font-family: none;
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.menu{
    display: flex;
    margin: 15px 10px;
    background:#1F3C63;
    color:white;
}
.menu > div{
    margin: 6px 6px;
    padding-right: 15px;
}
.menu >  mat-icon{
    margin: 4px;
}
.menu:hover{
    background:#244572;
}
.table-display{
    overflow: auto;
    width: 100%;
}
.no-event{
	pointer-events: none;
	opacity:0.3;
}
.mr-4{
    margin-right: 4px;
}

    table{
        border-spacing: unset;
        width:98%;
        font-size:14px;
        position: relative;
        margin: 0 auto;
    } 
    th,td{
        padding:15px;
        text-align:left;
    }
    th{
        background: gainsboro;
        position: sticky;
        top: 0;
    }
    tr:nth-child(odd) {
        background-color:whitesmoke ;
    }
    
    .disable{
        border:none;
        pointer-events: none;
    }
    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: rgb(72, 235, 120); /*replace with your color*/
    }
    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: #b3e7a3;  /*replace with your color*/
    }
    